<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
</head>
<body>
<form method="post" th:object="${employee}" id="registrationForm">
    <label for="firstName">FirstName</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <label for="lastName">LastName</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <input type="submit" value="Register">
</form>
</body>
</html>